astroid==2.4.2
attrs==19.3.0
Automat==20.2.0
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
future==0.18.2
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.5.2
mccabe==0.6.1
PyHamcrest==2.0.2
pylint==2.5.3
requests==2.24.0
SimplePool==0.1
six==1.15.0
soupsieve==2.0.1
toml==0.10.1
urllib3==1.25.10
wget==3.2
wrapt==1.12.1
zope.interface==5.1.0
